div#header-container, div#social-container, div#contact-container {
	background: #a5a5a5;
}

.sociallink span:before {
	color : #a5a5a5;
}

#menu-container li a:hover {
	background: #b7b7b7;
}

#menu-container li.active a {
    background: #b7b7b7;
    color: white;
}

.skills-title {
	background: #b7b7b7;
}