/*****************************************
clickmeyellow : FFC600;
ResumeBlue : 267de0;
ResumeLightBlue : 75ADEA;

****************************************/

body {
	font-family: sans-serif;
	color: #333;
	margin-top:-20px;
	overflow-x: hidden;
}

button.btn, button.btn-primary[disabled] {
    background: #FFC600;
    color: black;
    opacity:1;
}

button.btn:hover {
    background: #EEB900;
    color:#777;
}

button.btn-primary[disabled]:hover {
    background:#EEB900;
    opacity:.7;
    color:black;
}

div.container-fluid {
    padding: 0;
    margin: 0;
}

div#header {
    background: #267de0;
    height: 200px;
}

div#header h1#title {
    color:white;
}

div#topbar {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

div#left_menu {
    background: #eee;
    padding: 20px;
    min-height: 600px;
    font-size: 2em;
}

.menu-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

div#the-guts {
    padding: 20px;
    font-size: 1.5em;
}

#the-guts .row.ele {
    margin: 10px 0;
}

.resume-item.col-lg-3 {
    background: #75ADEA;
    opacity: .9;
    margin: 0 10px;
    min-height: 200px;
    text-align: center;
    color:white;
    cursor: pointer;
}

.resume-item.col-lg-3:hover {
    opacity: 1;
    background: #267de0;
}

.resume-title {
    border-bottom: 1px solid #333;
    font-weight: bold;
}

.resume-desc {
    overflow:hidden;
}

span.error {
	color : red;
}

div#login {
    margin: 50px 0;
    font-size: 1.4em;
}

#login .row {
    margin: 15px 0;
}

button.btn {
    width:150px;
}

i.fas.fa-receipt:before {
    font-size: 33em;
    content: "\f1ea";
    font-family: FontAwesome;
    position: absolute;
    opacity: .1;
    top: -111%;
    left: 20%;
}

@media only screen and (max-width: 1600px) {
    i.fas.fa-receipt:before {
        font-size: 29em;
        left: 11%;
        top: -100%;
    }
}

@media only screen and (max-width: 1400px) {
    i.fas.fa-receipt:before {
        font-size: 25em;
        left: 15%;
        top: -70%;
    }
}

@media only screen and (max-width: 850px) {
    i.fas.fa-receipt:before {
        font-size: 20em;
        left: 15%;
        top: -30%;
    }
}

@media only screen and (max-width: 700px) {
    i.fas.fa-receipt:before {
        font-size: 15em;
        left: 10%;
        top: -15%;
    }
}

#left_menu a .menu-item {
    color: #777;
}

#left_menu a .menu-item:hover {
    color:#267de0;
    cursor : pointer;
    opacity: .7;
}